@page
@model SistemaDeCompras.Pages.SouCliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/ClientePages/Create">Cadastro de Cliente</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/ClientePages/">Login de Cliente</a>
</li>
</html>