@page
@model SistemaDeCompras.Pages.SouCliente

@{
    ViewData["Title"] = "Sou Cliente";
}

<!DOCTYPE html>

<html>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Cliente/Create">Cadastro</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Login/Cliente">Login</a>
</li>
</html>