@page
@model SistemaDeCompras.Pages.SouFuncionario

@{
    ViewData["Title"] = "Sou Funcionário";
}

<!DOCTYPE html>

<html>
<li class="nav-item"> Sou Gestor
    <a class="nav-link text-dark" asp-area="" asp-page="/Gestor/Login"> Login</a>
</li>
<br>
<li class="nav-item"> Sou Administrador de Produtos
    <a class="nav-link text-dark" asp-area="" asp-page="/Adm/">Login</a>
</li>
<br>
<li class="nav-item"> Sou Administrador de Pedidos
    <a class="nav-link text-dark" asp-area="" asp-page="/Adm/">Login</a>
</li>
<br>
<li class="nav-item"> Sou Administrador de Perfis
    <a class="nav-link text-dark" asp-area="" asp-page="/Adm/">Login</a>
</li>
</html>