@page
@model SistemaDeCompras.Pages.ClientePages.ClienteCreate
@{
    ViewData["Title"] = "Cadastro de Clientes";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
                <div class="form-group">
                    <label asp-for="Input.ClienteEmail" class="form-label">Seu e-mail de cadastro: </label>
                    <input asp-for="Input.ClienteEmail" class="form-control"/>
                    <span asp-validation-for="Input.ClienteEmail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.ClientePassword" class="form-label">Sua senha: </label>
                    <input asp-for="Input.ClientePassword" class="form-control"/>
                    <span asp-validation-for="Input.ClientePassword" class="text-danger"></span>
                </div>
            
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}